// Theme Color Variables
$theme-color-red: #E63946;
$theme-color-white: #F1FAEE;
$theme-color-gray: #dfdfdf;
$theme-color-blue: #457B9D;
$theme-color-db: #1D3557;

// Font Variables
$header-font: 'Share Tech Mono', monospace;
$content-font: 'Fira Mono', monospace;

// Theme Color Layout
.about-me,
.tech-skills,
.reasons-to-employ {
    background-color: $theme-color-white;
}

.about-me, 
.tech-skills,
.reasons-to-employ {
    background-color: $theme-color-gray;
}

// Universal styles

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #D90429; /* WebKit/Blink Browsers */
  }

 ::-moz-selection {
    background: #D90429; /* Gecko Browsers */
  }

/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: #333;
}

p, li, a {
    font-family: $content-font;
    line-height: 1.5;
    color: #222;
    font-size: .9rem;
}


/* Main Navbar*/

#hamButton {
    display: none;
}

.main-nav, 
.little-nav {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    border-bottom: solid 1px $theme-color-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav .logo-pic {
    width: 110px;
}


.flex-box {
    text-transform: uppercase;
    padding: 0 1rem;
    text-decoration: none;
    color: $theme-color-white;
}

.flex-box li {
    transition: all 0.3s ease 0s;
    color: $theme-color-white;
}

.flex-box li:hover {
    color: $theme-color-red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    
}

.little-nav, 
.little-nav-flex-container {
    display: none;
}

/*Main Header*/

.main-header {
    background: linear-gradient(rgba(29, 53, 87, 0.6), rgba(0, 0, 0, 0.2)), url(../images/hero.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    padding-top: 35vh;
    
}

.main-header-container {
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-header-content {
    text-align: left;
    flex: 1 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.main-header-content h1, 
.main-header-content p, 
.main-header-content h4 {
    color: $theme-color-white;
}

.main-header-side-content {
    background-color: rgba(0, 0, 0, .75);
    display: block;
    height: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    flex: 1 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.more-info {
    color: $theme-color-white;
    font-size: 1.1rem;
}

.header-button {
    text-decoration: none;
    margin-top: .5rem;
    padding: .5rem;
    display: inline-block;
    width: 100%;
    color: $theme-color-blue;
    border: 1px solid $theme-color-blue;
    font-family: $header-font;
    transition: 0.5s;
}

.header-button:hover {
    background: $theme-color-blue;
    color: $theme-color-white;
}

.small-header-container {
    width: 100%;
    text-align: center;
    padding-top: 2.5rem;
}

.i-header-color {
    color: $theme-color-white;
}

/* Main Styles */

.about-me, 
.projects, 
.tech-skills, 
.social, 
.reasons-to-employ, 
.main-footer {
    padding: 6% 15%;
}

hr {
    width: 25rem;
    margin: 1rem 0;
    display: block;
    height: 1px;
    border-top: 2px solid $theme-color-red;
    color: $theme-color-red;
}

/* About Me Section Styles */
.summary-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.summary-container, 
.summary-image-container {
    flex: 1 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    
}

.summary-container header, 
.summary-container h5, 
.summary-container p, 
.summary-container a {
    margin: 1rem 0;
}

.summary-container a {
    background: $theme-color-red;
    color: $theme-color-white;
    font-family: $header-font;
    display: block;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    width: 60%;
    transition: .5s;
    border: 1px solid $theme-color-red;
}

.summary-container a:hover {
    color: $theme-color-red;
    background: $theme-color-white;
}

.summary-image-container img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}




/* Projects Section Styles */
.projects-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.project-item {
    border-radius: 10px;
    margin: 1rem auto;
   

}

.project-image img,
.project-image-overlay {
    border-radius: 10px 10px 0 0;
}

.project-image {
    position: relative;
}

.project-image img {
    display: block;
    height: auto;
    width: 100%;
}

.project-image-overlay {
    background: rgba(0, 0, 0, .5) url(../images/eye.png) center center no-repeat;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.project-image-overlay:hover {
    opacity: 1;
}

.project-desc {
    padding: 1rem;
    border-bottom: 2px solid $theme-color-red;
    border-right: 1px solid $theme-color-red;
    border-left: 1px solid $theme-color-red;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 8px #888888;
}

.project-desc h3, .project-desc p {
    padding: 5px 0;
}

/* Tech Skills */
.tech-skills-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    grid-gap: 2px;
    justify-content: center;
    grid-template-areas:
    "one two two three"
    "four four five five"
    "six six seven seven"
    "eight eight eight eight";
}

.item-1 {
    grid-area: one;
}

.item-2 {
    grid-area: two;
}

.item-3 {
    grid-area: three;
}

.item-4 {
    grid-area: four;
}

.item-5 {
    grid-area: five;
}

.item-6 {
    grid-area: six;
}

.item-7 {
    grid-area: seven;
}

.item-8 {
    grid-area: eight;
}

.tech-skills-container p {
    background-color: $theme-color-red;
    text-align: center;
    color: $theme-color-white;
    padding: .5rem;
    margin: .7rem 0;
    border-radius: 2px;
    font-weight: bold;
    position: relative;
    transition: .5s;
    border: 1px solid $theme-color-red;
    
}

.tech-skills-container p:hover {
    color: $theme-color-red;
    background-color: $theme-color-white;
    border: 1px solid $theme-color-red;
}

/* Social Area */



.social, .social-links {
    display: flex;
    flex-wrap: wrap;
}

.social {
    justify-content: space-between;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    display: block;
    border: 2px solid $theme-color-red;
    padding: .75rem;
    margin: .5rem;
    font-size: 2rem;
    color: $theme-color-red;
    border-radius: 50%;
    transition: .5s;
}

.social-links i:hover {
    color: $theme-color-white;
    background-color: $theme-color-red;
}


/* Reason to Employ */
.zdog-canvas {
    max-width: 150px;
}

.reasons-block {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.reasons-block .reasons-container {
    margin: 2rem 1rem;
    flex: 1 28%;
}

.reasons-container i {
    width: 150px;
    height: 75px;
    color: $theme-color-red;
    padding-top: .5rem;
    margin-top: .25rem;
}

/* Footer */

.main-footer {
    background: linear-gradient(rgba(29, 53, 87, 0.9), rgba(29, 53, 87, 0.5)), url(../images/footer.jpg) center center no-repeat;
    background-size: cover;
}

.main-footer-container {
    display: flex;
    flex-direction: row;
}

.main-footer-content {
    flex: 1 60%;
    padding-right: 2rem;
}

.main-footer-content h2,
.main-footer-content p, 
.main-footer address h2,
.main-footer address p,
footer p {
    color: $theme-color-white;
}

.footer-contact, .footer-container {
    margin: 1rem 0;
}

.footer-container a {
    text-decoration: none;
}

.copyright {
    padding-top: 2rem;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .aos-wrapper {
        position: relative;
        overflow-x: hidden;
    }
    
    #hamButton {
        display: block;
    }
    
    .main-nav, .flex-container {
        display: none;
    }

    .little-nav #little-logo {
        width: 60px;
    }



    .little-nav {
        display: block;
    }

    .little-nav div {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-between;
    }

    .little-nav-flex-container {
        display: none;
        width: 100%;
        flex-direction: column;
        list-style-type: none;
        color: $theme-color-white;
    }

    .about-me, 
    .projects, 
    .tech-skills, 
    .social, 
    .reasons-to-employ, 
    .main-footer {
        padding: 10% 10%;
    }

    .main-header {
        padding-top: 15vh;
        height: 50vh;
    }

    .main-header-container {
        flex-direction: column;
    }
    .main-header-content {
        padding-bottom: 1rem;
    }
    .main-header-side-content {
        display: none;
    }

    .summary-block {
        flex-direction: column;
    }
    .summary-container, 
    .summary-container a,
    .projects-content,
    .tech-block,
    .social-content-container,
    .reasons-content,
    .reasons-container {
        text-align: center;
        margin: 0 auto;
    }

    hr {
        width: 100%;
    }

    .summary-image-container img {
        margin-top: 1rem;
    }
    
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .tech-skills-container {
        grid-template-areas: 
        "one one two two"
        "three three four four"
        "five five six six"
        "seven seven seven seven"
        "eight eight eight eight"
    }

    .social {
        justify-content: center;
    }

    .reasons-block {
        flex-flow: column wrap;
    }

    .main-footer-container {
        flex-direction: column;
    }
}